body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}

/* Remove default margin in favour of better control in authored CSS */
/* body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
} */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  max-width: 1440px;
  width: 1128px;
  margin: 0 auto;
}

/* Typography */
h1,
h2,
h3 {
  color: #2e2f42;
  font-weight: 700;
}

h1,
h2 {
  text-align: center;
}

a,
p {
  letter-spacing: 0.32px;
}

.main-heading {
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.second-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.third-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.logo-typography {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* helper for ul list 
.flex-g24 {
  display: flex;
   gap: 24px;
} */

/* Header section */

.header {
/*   display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0; */
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
}
/* .header-nav {
  display: inline-flex;
  flex-shrink: 1;
} */
.header-logo span {
  color: #2e2f42;
}

/* .header-menu {
  margin-left: 76px;
  display: inline-flex;
  align-items: flex-start;
}
.header-menu-li:not(:last-child) {
  margin-right: 40px;
} */

.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-menu-link:active {
  padding-bottom: 20px;
  border-bottom: 4px solid #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
}
/* .header-address-list {
  margin-left: 332px;
  display: inline-flex;
} */

/* .header-address-list-li:not(:last-child) {
  margin-right: 40px;
} */

.header-address-link {
  color: #434455;
}

/* Hero section */
.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  text-align: center;
  height: 600px;
}
.hero-title {
  width: 496px;
  color: #fff;
}
.hero-btn {
  width: 174px;
  margin-top: 48px;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* second-section */

.second-section {
  padding: 120px 0;
}
.second-section-title {
  margin-bottom: 72px;
}

.second-section-list-li {
  width: 264px;
}

/* .second-section-list-li:not(:last-child) {
  margin-right: 24px;
}
 */
.second-section-list-title {
  text-align: center;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}
.team-list-li {
  width: 264px;
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* .team-list-li:not(:last-child) {
  margin-right: 24px;
} */

.team-list-title {
  padding-top: 32px;
  padding-bottom: 8px;
}

.team-list-text {
  padding-bottom: 32px;
}

.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
 /*  flex-wrap: wrap; */
  background-color: #fff;
}
.portfolio-list-li {
  width: 360px;
  margin-bottom: 48px;
  background: #fff;
  border: 1px solid #e7e9fc;
}
/* .portfolio-list-li:not(:nth-child(3n)) {
  margin-right: 24px;
} */

.portfolio-list-title {
  padding: 32px 16px 8px 16px;
}

.portfolio-list-text {
  padding: 0 16px 32px 16px;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-logo {
  display: block;
  margin-bottom: 18px;
}

.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  width: 1128px;
  margin: auto;
  padding-right: 864px;
  color: #f4f4fd;
}
