body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

/* Remove default margin in favour of better control in authored CSS */
/* body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
} */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 156px;
}

/* Typography */
h1,
h2,
h3 {
  color: #2e2f42;
}
.main-heading {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.second-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.third-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.logo-typography {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* Header section */

.header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
}

.header-logo {
  display: flex;
  align-self: center;
}
.header-logo span {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
  padding: 0 0 0 76px;
}

.header-address {
  display: flex;
  align-items: center;
  font-style: normal;
}
.header-address ul {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-menu-link:active {
  padding-bottom: 20px;
  border-bottom: 4px solid #404bbf;
  border-radius: 2px;
}
.header-address-link {
  color: #434455;
  letter-spacing: 0.32px;
}

/* Hero section */
.hero {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.hero-title {
  width: 55%;
  text-align: center;
  color: #fff;
}
.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  letter-spacing: 0.64px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* second-section */

.second-section {
  padding-top: 120px;
}
.second-section-title {
  display: none;
}

.second-section-list {
  display: flex;
  gap: 24px;
}

.second-section-list-title {
  text-align: center;
  margin-bottom: 8px;
}
.second-section-list-text {
  letter-spacing: 0.32px;
  margin-bottom: 120px;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  text-align: center;
  background-color: #ffffff;
}
.team-list-title {
  padding-top: 32px;
  padding-bottom: 8px;
}

.team-list-text {
  padding-bottom: 32px;
  letter-spacing: 0.32px;
}

.portfolio-title {
  margin-top: 120px;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #ffffff;
}

.portfolio-list-title {
  padding-top: 32px;
  padding-bottom: 8px;
}

.portfolio-list-text {
  padding-bottom: 32px;
  letter-spacing: 0.32px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-logo {
  margin-bottom: 18px;
}

.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  width: 24%;
  color: #f4f4fd;
  letter-spacing: 0.32px;
  margin: 0 156px;
}
